Cython
Django>=1.11,<2.0
django-extensions
django-annoying
djangorestframework
django-two-factor-auth>=1.6,<1.7
psycopg2-binary
python-memcached
python-dateutil
pytz
python3-saml
path.py
requests
ipython
ipdb
uWSGI
whitenoise
pyOpenSSL
Markdown
mistune
raven
raven-sh
flake8
